/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4A5568;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
